.row{
    margin: auto;
}

.row-inputCls{
    width:176%
}
.rightcol-cls{
    margin-inline-start: 25%
}

.recog-cls{
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

#div1{
    width: 286px; 
    
}
#div2{
    width: 286px;
}
.div3{
    width:196px;
}
.div4{
    /* width: 144%; */
}
#div5{
    width: 268px;
}
#div6{
    width: 268px;
}
#div7{
    width: 268px;
}
.right_recogcol-cls{
    margin-inline-start: 4px;
}
h6{
    margin-bottom: -0.5rem;
    line-height: 3;
}
.divDep
{
    margin-left:20px;
}

@media screen and (max-width: 1530px) 
{
    select{
        width: 400px !important;
    }
    .divDep{
        margin-left: 0px;
    }
    .div3
    {
        margin-left: 0px;
    }
    #div1{
        width: 400px;   
    }
    #div2{
        width: 400px;
    }
    .div3{
        width: 400px;
    }
    .div4{
       margin-left: 0px !important;
    }
}

/* ::ng-deep .indexselect
{
    margin:  21% 0% -27% -100%; 
    position: absolute;
    background-color: white;
} */

::ng-deep .ng2-tag-input{
    border: 1px solid rgb(169, 169, 169);
}
select
{
    border-radius: 20px;
    height: 35px;
    width: 286px;
}
@media screen and (width: 320px) , screen and (height: 568px)
{
    select{
        width: 200px !important;
    }
    .divDep{
        margin-left: 0px;
    }
    .div3
    {
        margin-left: 0px;
    }
    #div1{
        width: 200px;   
    }
    #div2{
        width: 200px;
    }
    .div3{
        width: 200px;
    }
    .div4{
       margin-left: 0px !important;
    }
}
@media screen and (width: 375px) , screen and (height: 667px)
{
    select{
        width: 200px !important;
    }
    .divDep{
        margin-left: 0px;
    }
    .div3
    {
        margin-left: 0px;
    }
    #div1{
        width: 200px;   
    }
    #div2{
        width: 200px;
    }
    .div3{
        width: 200px;
    }
    .div4{
       margin-left: 0px !important;
    }
}
@media screen and (width: 414px) , screen and (height: 736px) 
{
    select{
        width: 200px !important;
    }
    .divDep{
        margin-left: 0px;
    }
    .div3
    {
        margin-left: 0px;
    }
    #div1{
        width: 200px;   
    }
    #div2{
        width: 200px;
    }
    .div3{
        width: 200px;
    }
    .div4{
       margin-left: 0px !important;
    }
}
@media screen and (width: 411px) , screen and (height: 731px) 
{
    select{
        width: 200px !important;
    }
    .divDep{
        margin-left: 0px;
    }
    .div3
    {
        margin-left: 0px;
    }
    #div1{
        width: 200px;   
    }
    #div2{
        width: 200px;
    }
    .div3{
        width: 200px;
    }
    .div4{
       margin-left: 0px !important;
    }
}
@media screen and (width: 360px) , screen and (height: 640px)
{
    select{
        width: 200px !important;
    }
    .divDep{
        margin-left: 0px;
    }
    .div3
    {
        margin-left: 0px;
    }
    #div1{
        width: 200px;   
    }
    #div2{
        width: 200px;
    }
    .div3{
        width: 200px;
    }
    .div4{
       margin-left: 0px !important;
    }
}

@media (max-width: 768px) {
    ::ng-deep .form-formalEditsite-cls.mat-form-field{
        width:100% !important;
    }

    .rightcol-cls{
        margin: 0px !important;
    }
}

/* combo css */

::ng-deep .formaleditPanelCls.mat-select-trigger
{
    height: 40px;
    border: 1px solid #d0d0d0 !important;
    width: 250%;
    border-radius: 20px;
    background-color: white;
    color: black;
}

::ng-deep .formaleditPanelCls.mat-select-value
{
    padding: 6px;
    color:black;
}
::ng-deep .form-formalEditsite-cls.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow
{
    color:black;
    margin: 0 10px !important;
}
::ng-deep .form-formalEditsite-cls.mat-form-field.mat-focused.mat-primary .mat-select-arrow
{
    color:black;
    margin: 0 10px !important;
}

::ng-deep .formaleditPanelCls.mat-select-panel{
    margin-top: 35px !important;
}

::ng-deep .form-formalEditsite-cls.mat-form-field{
    width:170%;
}

::ng-deep .form-formalEditsite-cls.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.62em !important;
    border: none !important;
}

::ng-deep .form-formalEditsite-cls.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding: 0px;
    border: 1px solid #d0d0d0;
    border-radius: 25px;
}
::ng-deep .form-formalEditsite-cls.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
}

::ng-deep .form-formalEditsite-cls.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background: none !important;
}

::ng-deep .form-formalEditsite-cls.mat-form-field.mat-focused .mat-form-field-ripple{
    background: none !important;
}