.Topbar
{
    height: 56px;
    width: 109%;
    box-shadow: -1px 1px 1px 1px #e4e4e4;
    margin-top: -50px;
    background-color: white;
    border-radius: 5px;
}
.btn1{
     background-color: #108ac1;
    color: white;

}
.btn1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
}

#usr{
    line-height: 1.9;
    margin-top: 10px;
    width: 25%;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    font-weight:700;
    padding-left: 10px;
}
.search{
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
     "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
     "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px; 
}
.modal-header{
    background-color: #108ac1;
    color: white;
    padding-left: 35%;
}
.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 20%;
    margin: 0 auto;
    width: 41%;
    position: absolute;
    top: 320px;
    left: 30%;
}

#deletedailog{
    width: 37% !important;
    left: 35% !important; 
 }
 #deletebody{
     padding:3rem;
 }
table {
    table-layout: fixed;
    width: 105%;
    border-collapse: collapse;
  }

  th{
     
      font-size: 14px;
      background-color: #108ac1;
      color: white;
  }
  td{
    padding:0.2rem 0rem 0rem 0rem;
  /* padding: 5px; */
  }
  tbody:nth-child(even) tr:nth-child(odd) {
    background-color: #ffffff;
    }
.action-cls{
    border: none;
    background: no-repeat;
  
}

.action-cls:active:focus {
  border: none;
  background: no-repeat;
  font-size: 16px;

}


  .desc-cls::-webkit-scrollbar {
    width: 8px;}
 
    .desc-cls::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.desc-cls::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:#108ac1 !important;
    border-color:#108ac1 !important;
}
@media screen and (width: 768px) , screen and (height: 1024px) {
    .modal-header{
        background-color: #108ac1;
        color: white;
        padding-left: 35%;
    }
    .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 20%;
        margin: 0 auto;
        width: 50%;
        position: absolute;
        top: 320px;
        left: 20%;
    }
}
@media screen and (width: 1024px) , screen and (height: 1366px) {
    .modal-header{
        background-color: #108ac1;
        color: white;
        padding-left: 15%;
    }
    .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 20%;
        margin: 0 auto;
        width: 50%;
        position: absolute;
        top: 320px;
        left: 20%;
    }
}
@media screen and (width: 360px) , screen and (height: 640px){
    .modal-header{
        background-color: #108ac1;
        color: white;
        padding-left: 15%;
    }
    .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 20%;
        margin: 0 auto;
        width: 50%;
        position: absolute;
        top: 320px;
        left: 20%;
    }

     #usr{
        width:37% !important;
    }
    #deletedailog{
        width: 58% !important;
        left: 22% !important; 
     }
     #deletebody{
        padding:1rem;
    }
   
}
@media screen and (width: 375px) , screen and (height: 667px){
    .modal-header{
        background-color: #108ac1;
        color: white;
        padding-left: 15%;
    }
    .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 20%;
        margin: 0 auto;
        width: 50%;
        position: absolute;
        top: 320px;
        left: 20%;
    }
    #deletedailog{
        width: 58% !important;
        left: 22% !important; 
     }
     #deletebody{
        padding:1rem;
    }
}
@media screen and (width: 414px) , screen and (height: 736px){
    .modal-header{
        background-color: #108ac1;
        color: white;
        padding-left: 15%;
    }
    .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 20%;
        margin: 0 auto;
        width: 50%;
        position: absolute;
        top: 320px;
        left: 20%;
    }
    #deletedailog{
        width: 58% !important;
        left: 22% !important; 
     }
     #deletebody{
        padding:1rem;
    }
}
@media screen and (width: 411px) , screen and (height: 731px){
    .modal-header{
        background-color: #108ac1;
        color: white;
        padding-left: 15%;
    }
    .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 20%;
        margin: 0 auto;
        width: 50%;
        position: absolute;
        top: 320px;
        left: 20%;
    }
    #deletedailog{
        width: 58% !important;
        left: 22% !important; 
     }
     #deletebody{
        padding:1rem;
    }
}

@media screen and (width: 320px) , screen and (height: 568px){
    .modal-header{
        background-color: #108ac1;
        color: white;
        padding-left: 15%;
    }
    .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 20%;
        margin: 0 auto;
        width: 50%;
        position: absolute;
        top: 320px;
        left: 20%;
    }
    #deletedailog{
        width: 58% !important;
        left: 22% !important; 
     }
     #deletebody{
        padding:1rem;
    }
}

@media screen and (max-width: 767px) {
    #usr{
        width:35% !important;
    }

    .Topbar{
        width: 121% !important;
        margin-top: 1px;
    }
}
.vl{
    border-left: 0.5px solid #bdbdbd;
    height: 30px;
    position: absolute;
    margin-top:25px;
    margin-left: 5px;
   
}
 #fa {
    margin-top:25px;
    color: #757575;
    padding: 5px;

 }
 tr{
     margin-top: 20px;
 }
  

 